.sidebarOption {
    display: flex;
    color: #B3B3B3;
    padding: 10px;
    height: 20px;
    cursor: pointer;
    transition: 200ms color ease-in;
    align-items: center;
    font-weight: 600;
}

.sidebarOption :hover  {
    color:white;
}

.sidebarOption__icon {
    padding-left: 10px;
    padding-right: 10px;
  }

.sidebarOption > h4 {
    font-size: 14px;
    margin-left: 10px;
  }
  