.sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 0.15;
    background-color: #040404;
    min-width: 230px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar__logo{
    padding: 10px;
    height: 60px;
    object-fit: contain;
    margin-right: auto;
}

.sidebar__title {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    color:#B3B3B3;
}

.sidebar__playlists {
    color: #B3B3B3;
    font-size: 14px;
    margin-left: 10px;
    height: 40vh;
}

.sidebar > hr {
    border: none;
    background-color: #282828;
    width: 84%;
    margin: 8px auto;
    height: 1px;
}